In [4]:
import pandas as pd
import numpy as np

Con **Numpy**

In [5]:
df = pd.DataFrame(np.arange(21).reshape([7, 3]),
                  index = ["a", "b", "c", "d", "e", "f", "g"],
                  columns = ["A", "B", "C"])
df

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17
g  18  19  20

In [6]:
df.sample(3, random_state = 21)

    A   B   C
g  18  19  20
c   6   7   8
d   9  10  11

In [7]:
df.sample(2, random_state = 18, axis = 1)

    A   B
a   0   1
b   3   4
c   6   7
d   9  10
e  12  13
f  15  16
g  18  19

In [8]:
df.sample(frac = 1, random_state = 21)

    A   B   C
g  18  19  20
c   6   7   8
d   9  10  11
f  15  16  17
e  12  13  14
a   0   1   2
b   3   4   5

In [9]:
#columna = df.pop('B')
#columna

In [10]:
df

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17
g  18  19  20

In [11]:
df['A'] # Columna A

a     0
b     3
c     6
d     9
e    12
f    15
g    18
Name: A, dtype: int64

In [12]:
df['A']['a'] # Columna 'A' fila 'a'

0

In [13]:
df['A'][0] # Columna 'A' fila 0

0

In [14]:
df[0:3] # Filas desde 0 hasta 2

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [15]:
df['a':'c'] # Filas desde 'a' hasta 'c'

   A  B  C
a  0  1  2
b  3  4  5
c  6  7  8

In [16]:
df[['A','C']] # Columnas 'A' y Columna 'C'

    A   C
a   0   2
b   3   5
c   6   8
d   9  11
e  12  14
f  15  17
g  18  20

In [17]:
df[[True, False, False, True, False, True, False]] # Filas que sean True

    A   B   C
a   0   1   2
d   9  10  11
f  15  16  17

In [18]:
df.get('A') # Columna 'A'

a     0
b     3
c     6
d     9
e    12
f    15
g    18
Name: A, dtype: int64

In [19]:
df.loc['e'] # Valores de la fila 'e'

A    12
B    13
C    14
Name: e, dtype: int64

In [20]:
df.loc[['a', 'f', 'e']]  # Dataframe con filas indicadas

    A   B   C
a   0   1   2
f  15  16  17
e  12  13  14

In [21]:
df.loc['c':'f'] # dataframe con rango de filas indicado

    A   B   C
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

In [22]:
df.loc[:, 'B'] # Serie Columna indicada

a     1
b     4
c     7
d    10
e    13
f    16
g    19
Name: B, dtype: int64

In [23]:
df.loc[:,['C', 'A']] # Dataframe columnas indicadas

    C   A
a   2   0
b   5   3
c   8   6
d  11   9
e  14  12
f  17  15
g  20  18

In [24]:
df_2 = df[['A', 'C', 'B']]

In [25]:
df_2

    A   C   B
a   0   2   1
b   3   5   4
c   6   8   7
d   9  11  10
e  12  14  13
f  15  17  16
g  18  20  19

In [26]:
df.loc['e', 'B'] # Escalar valor fila y columna idicados

13

In [27]:
df.iloc[0] # Serie valores fila indicada

A    0
B    1
C    2
Name: a, dtype: int64

In [28]:
df.iloc[[2,6,3]] # dataframe filas indicadas

    A   B   C
c   6   7   8
g  18  19  20
d   9  10  11

In [29]:
df_2.iloc[:, 2] # Serie columna indicada por posición

a     1
b     4
c     7
d    10
e    13
f    16
g    19
Name: B, dtype: int64

In [30]:
df_2.iloc[6, 2] # Escalar valor en columna y fila indicados por posición.

19

- Cuando se usan los métodos loc o iloc, el primer argumento siempre hace referencia a filas y el segundo a columnas. Esto significa que si no se incluye el segundo argumento, siempre estaremos extrayendo filas.
  
- El método get devuelve columnas.
  
- Sin incluir los métodos loc, iloc y get, solo hay -en el listado anterior- dos formas de extraer columnas: usando como argumento una etiqueta y usando como argumento una lista de etiquetas.

- El uso de una etiqueta o de una lista de etiquetas devuelve columnas
  
- En otros casos se devuelven filas (rangos de números o de etiquetas, o listas de booleanos)


- Por ejemplo, el uso de rangos permite extraer más de una fila (o de una columna), de forma que su uso siempre devuelve un dataframe. Así, df["e1":"e2"] siempre devolverá un dataframe, aunque en este ejemplo estemos usando el rango para extraer una única columna.

- Otro ejemplo: si estamos usando la notación df.loc[:, "e"], estamos extrayendo una columna y solo una columna, y con esta notación (dos puntos para las filas y una etiqueta para columnas) nunca podríamos extraer más de una columna, de forma que el resultado de la extracción siempre será una serie.

# **Edicion de series**

In [31]:
s = pd.Series([1, 2, 3, 4, 5], index = ["a", "b", "c", "d", "e"])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [32]:
s[0] = -1
s['b'] = -2
s

a   -1
b   -2
c    3
d    4
e    5
dtype: int64

In [33]:
s[1:3] = [8, 9]
s

a   -1
b    8
c    9
d    4
e    5
dtype: int64

In [34]:
s['f'] = 7
s

a   -1
b    8
c    9
d    4
e    5
f    7
dtype: int64

In [35]:
s[['c', 'a']] = [0, 1]
s

a    1
b    8
c    0
d    4
e    5
f    7
dtype: int64

In [36]:
s[[1, 0]] = [20, 21]
s

a    21
b    20
c     0
d     4
e     5
f     7
dtype: int64

In [37]:
ser = pd.Series([1, 2, 3, 4, 5], 
                index = ["a", "b", "c", "d", "e"])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [38]:
rem = ser.drop('b')
rem

a    1
c    3
d    4
e    5
dtype: int64

In [39]:
rem = ser.drop(['b', 'd'])
rem

a    1
c    3
e    5
dtype: int64

In [40]:
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [41]:
ser.drop(ser.index[[1, 3]])

a    1
c    3
e    5
dtype: int64

In [70]:
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [93]:
df = pd.DataFrame(np.random.randint(10, 20, 20).reshape([5, 4]), index=['a', 'b', 'c', 'd', 'e'], columns = ['Manzana', 'Pera', 'Durazno', 'Fresa'])
df

   Manzana  Pera  Durazno  Fresa
a       13    19       10     12
b       19    13       11     14
c       11    15       15     15
d       13    18       13     16
e       11    10       12     16

In [94]:
df.iloc[df.index.get_loc('c')]

Manzana    11
Pera       15
Durazno    15
Fresa      15
Name: c, dtype: int64

In [98]:
df[df.Manzana > 13]

   Manzana  Pera  Durazno  Fresa
b       19    13       11     14