In [3]:
import pandas as pd

In [12]:
datos = pd.read_csv('datos.csv', sep = ';')

In [16]:
list(datos.columns)

['Nombre', 'Telefono', 'Compañia', 'Ciudad', 'Dirección']

In [28]:
datos_grupos = datos.groupby('Dirección').count()
datos_grupos

                                 Nombre  Telefono  Compañia  Ciudad
Dirección
128-4880 Lorem, Rd.                   1         1         1       1
1289 Vel St.                          1         1         1       1
172-8240 Aenean St.                   1         1         1       1
187-8049 Arcu St.                     1         1         1       1
193-8923 Litora Road                  1         1         1       1
...                                 ...       ...       ...     ...
P.O. Box 781, 2966 Inceptos St.       1         1         1       1
P.O. Box 818, 9029 Egestas. Ave       1         1         1       1
P.O. Box 856, 4247 Placerat Rd.       1         1         1       1
P.O. Box 903, 5437 Ut Rd.             1         1         1       1
P.O. Box 981, 7634 Nullam Rd.         1         1         1       1

[100 rows x 4 columns]

In [30]:
datos_grupos = datos_grupos.drop('Telefono', 1)
datos_grupos

                                 Nombre  Compañia  Ciudad
Dirección
128-4880 Lorem, Rd.                   1         1       1
1289 Vel St.                          1         1       1
172-8240 Aenean St.                   1         1       1
187-8049 Arcu St.                     1         1       1
193-8923 Litora Road                  1         1       1
...                                 ...       ...     ...
P.O. Box 781, 2966 Inceptos St.       1         1       1
P.O. Box 818, 9029 Egestas. Ave       1         1       1
P.O. Box 856, 4247 Placerat Rd.       1         1       1
P.O. Box 903, 5437 Ut Rd.             1         1       1
P.O. Box 981, 7634 Nullam Rd.         1         1       1

[100 rows x 3 columns]

In [32]:
datos_grupos.drop(datos_grupos.columns[[1, 2]], axis=1, inplace=True)
datos_grupos

                                 Nombre
Dirección
128-4880 Lorem, Rd.                   1
1289 Vel St.                          1
172-8240 Aenean St.                   1
187-8049 Arcu St.                     1
193-8923 Litora Road                  1
...                                 ...
P.O. Box 781, 2966 Inceptos St.       1
P.O. Box 818, 9029 Egestas. Ave       1
P.O. Box 856, 4247 Placerat Rd.       1
P.O. Box 903, 5437 Ut Rd.             1
P.O. Box 981, 7634 Nullam Rd.         1

[100 rows x 1 columns]

In [33]:
datos

,Nombre,Telefono,Compañia,Ciudad,Dirección
0,Brendan,1-614-703-0495,Mollis Duis Inc.,Springdale,"P.O. Box 557, 8792 Congue. Rd."
1,Richard,1-856-940-7998,Arcu Corporation,Boise,2505 Nunc St.
2,Edward,1-894-297-9961,Facilisis Non Bibendum Ltd,Selva di Cadore,"P.O. Box 318, 9313 In St."
3,Clarke,1-975-433-5454,A PC,Westmeerbeek,"P.O. Box 657, 9027 Consectetuer Rd."
4,Brent,1-748-535-1049,Enim Corporation,Wardin,172-8240 Aenean St.
...,...,...,...,...,...
95,Ulric,1-124-190-0919,Tortor Industries,Varsenare,Ap #276-1879 Tellus Street
96,Hoyt,1-721-837-5328,Venenatis Lacus LLC,Caplan,"Ap #377-7917 Eu, Av."
97,Jasper,1-805-329-8301,Sed Leo Corporation,Leduc,355-3028 Augue Avenue
98,Harrison,1-515-622-0857,Magna Ltd,Machalí,Ap #907-5367 Aenean St.
99,Gabriel,1-356-627-4830,Mi Ac Institute,Grafton,"P.O. Box 362, 4441 Facilisis Rd."

In [ ]:
df =