In [10]:
import pandas as pd
import numpy as np

In [12]:
unicentro = pd.Series([12, 8, 10, 15, 5, 12, 17, 20], index = ['Nike', 'Adidas', 'Rebook', 'Puma', 'UnderArmour', 'Salomon', 'Fila', 'Arcterix'])

arboleda = pd.Series([34, 21, 7, 2, 3, 12, 4, 6], index = ['Puma', 'Adidas', 'Nike', 'Rebook', 'UnderArmour', 'Salomon', 'Fila', 'Arcterix'])

bolivar = pd.Series([10, 23, 13, 24, 9, 4, 8, 6], index = ['Nike', 'Adidas', 'Arcterix', 'Puma', 'Fila', 'Rebook', 'Salomon', 'UnderArmour'])

ventas = pd.DataFrame({'Arboleda': arboleda, 'Unicentro': unicentro, 'Bolivar': bolivar})

ventas['Total'] = arboleda + unicentro + bolivar

ventas

             Arboleda  Unicentro  Bolivar  Total
Adidas             21          8       23     52
Arcterix            6         20       13     39
Fila                4         17        9     30
Nike                7         12       10     29
Puma               34         15       24     73
Rebook              2         10        4     16
Salomon            12         12        8     32
UnderArmour         3          5        6     14